---
---

@import "{{ site.theme }}";

#banner { 
  background: #ffff00; 
  #logo {
    position:absolute;
    height: 32px;
    width: 40px;
    right:7px;
    top:7px;
    display: block;
    background: url(../../sl-comp-wand.svg);
 }
}
