---
---

@import "{{ site.theme }}";

body {
  font:16px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  background: #58ACFA;
}

#banner { 
   background: #FBF5EF; 
   #logo {
    position:absolute;
    height: 40px;
    width: 60px;
    right:7px;
    top:7px;
    display: block;
    background: url(../../sl-comp-wand.svg);
  }
}
